/*############################################################# FONTS & GENERAL ###########################################################*/
*{margin: 0;padding: 0;box-sizing: border-box;}
                            

.p17{font-size: 17px;}
.p18{font-size: 18px;}      .p18p40l{font-size: 18px; padding-left: 40px;}      .p18c{font-size: 18px; position: relative; left: 50%; transform: translateX(-50%);}
                            .p18p20l{font-size: 18px; padding-left: 20px;}      .p18cb{font-size: 18px; position: relative; left: 50%; transform: translateX(-50%); color: black;}
                                                                                .p18cw{font-size: 18px; position: relative; left: 50%; transform: translateX(-50%); color: white;}

@font-face {font-family: "United Sans Heavy"; src: url("UnitedSansHeavyPurdue.woff") format("woff"); font-weight: normal; font-style: normal;}
    
/*################################################################# HEADER ################################################################*/

.header{background: #CFB991; height: 50px; max-width: 100%; min-width: 600px; display: flex; /*border: 1px solid blue;/**/}

    .links{align-content: center; width: 85%; min-width: 60%;}
        
        nav{justify-content: space-between;}
            /*.navLinks{ }*/ 
            .navLinks li{display: inline-block; margin: 0px 25px;} 
            .navLinks li a{text-decoration: none; color: rgb(0, 0, 0); position: relative;}
            .navLinks li a::after{content: ''; background: rgb(0, 0, 0); width: 0%; height: 1.5px; position: absolute; bottom: 0;
                 left: 0; transition: width 0.2s;}
                
            .navLinks li a:hover::after{width: 100%;}   
                
    .lan{background: #CFB991; height: 50px; width: 15%; display: grid; grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)); 
        padding-left: 20px; padding-right: 20px; gap: 5px; align-content: center; justify-content: center;}

        .btn{background-color:transparent; border: 2px solid black;}   .btn:hover{background-color: white;/**/}
        /*.btnEs{background-color:#C4BFC0;} .btnEs:hover{background-color: black;color:#C4BFC0;}*/

/*################################################################# FOOTER ################################################################*/

.footer{background: #CFB991; min-height: 100px; max-width: 100%; min-width: 600px; display: grid; /*border: 1px solid blue;/**/}
    .last{container-type: inline-size; align-content: center; padding-left: 10px; padding-top: 20px; padding-bottom: 20px;}
        @container(width < 1300px){
            .last li{font-size: 14px; text-indent: -1.5em;}
            .last p{font-size: 14px;}
            }
        @container(width < 610px){
            .last li{font-size: 13px; text-indent: -1.5em;}
            .last p{font-size: 13px;}
            }
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.content{
    width: 100%;
    min-width: 600px;
    background: #9D9795;
}

    .mainBox{max-width: 100%;}
        
        .ilustrations{display: flex; flex-wrap: wrap; min-width: 600px; width: 100%; justify-content: center; /*border: 1px solid red;/**/}
        
            .sample{container-type: inline-size; width: 100%;  min-width: 580px; /*border: 1px solid black/**/;}
                .sampleHeader{display: flex; height: 25px; align-items: center; background: linear-gradient(to bottom, #8E6F3E 100%, #9D9795 0%); background-size: 100% 0%; background-repeat: no-repeat; animation: background-loading 1s forwards;}
                @keyframes background-loading {/* RAILWAY GRAY TO AGED AFTER LOADING*/
                    0% {background-size: 100% 0%;}  
                    100% {background-size: 100% 100%;} }
                .sampleHeaderB{display: flex; height: 25px; align-items: center; background: linear-gradient(to bottom, #000000 100%, #9D9795 0%); background-size: 100% 0%; background-repeat: no-repeat; animation: background-loading 1s forwards;}
                @keyframes background-loading {/* RAILWAY GRAY TO AGED AFTER LOADING*/
                    0% {background-size: 100% 0%;}  
                    100% {background-size: 100% 100%;} }


                .mediaContainer{position: relative; width: 672; height: 378; overflow: hidden; margin-top: 25px; /*border: 1px solid black;/**/}
                .mediaContainer video{position: relative; width: 672px; height: 378px; max-height: 378px; left: 50%; transform: translateX(-50%);}

                .arrow-left, .arrow-right { position: absolute; top: 50%; transform: translateY(-50%);
                    background-color: rgba(0, 0, 0, 0.5); color: white; border: none; padding: 10px;
                    cursor: pointer; font-size: 24px; z-index: 10;}
                
                .arrow-left { left: 0;}
                .arrow-right {right: 0; }

                .sampleDescription{min-height: 200px; align-content: center; justify-content: center;}
                    .sampleDescription p{font-size: 18px; padding-left: 40px; padding-right: 40px; text-justify: justify;}
                        

                @container(width < 1000px){
                    .mediaContainer video{width: 480px; height: 270px; max-height: 270px;}
                }


            .description{ min-width: 35%; min-height: 440px; /*border: 1px solid blue;/**/ }
                .pipelineInfo{container-type: inline-size; margin: 10px; min-width: 560px; border: 1px solid black;}
                .pipelineInfo li{font-size: 18px; margin: 10px; text-justify: justify; text-indent: -1.5em; padding-left: 1.5em;}


    .experience{min-height: 220px; display: grid; /*border: 1px solid rgb(255, 0, 217);/**/}
             
        .jobs{container-type: inline-size;  display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); margin: 10px; min-height: 300px; gap: 10px; /*border: 1px solid rgb(0, 208, 255);/**/}
                
            .item{display: grid; padding-bottom: 10px; border: 1px solid rgb(0, 0, 0);/**/}
                                                                           
                .extdetails{min-height: 100px; text-justify: justify;  padding-top: 5px; padding-bottom: 5px; font-size: 17px;/*border: 1px solid rgb(20, 4, 20);/**/}
                .extdetails li{font-size:15px; text-indent:-1.5em; padding-left: 1.5em;margin-left: 10px;}
                .extdetails p{font-size:15px; margin-left: 10px;}

                .exthightlights{min-height: 140px; padding-top: 10px; padding-bottom: 10px; /*border: 1px solid rgb(0, 0, 255);/**/}
                .exthightlights p{font-size:17px;}
                .exthightlights li{font-size:15px; text-indent:-1.5em; padding-left: 1.5em; margin-left: 10px;}
            
                    @container(width < 610px){
                        .extref p{ font-size: 14px;}  ;
                    }   
                    @container(width < 1100px){
                        .extdetails p, .exthightlights p{ font-size: 14px; /*color: aqua;/**/ }  ;
                    }   
                    @container(width < 1100px){
                        .extdetails li, .exthightlights li{ font-size: 13px; /*color: rgb(0, 26, 255);/**/ }  ;
                    }   
